#main-menu li:hover{
    background: #90ee90;
}
.carousel-inner .item .slide-image {
    height: 400px;
    width: 960px ;
}
#footer {
    margin-top: 30px;
}
.blue-text {
    color: #00f;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
}
.box .with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 20px;
}
.box h5 {
    font-weight: normal;
}
.box-header .pull-right {
    margin-top: -20px;
}
.box-footer {
    padding: 8px 16px;
}
.avatar {
    height: 280px;
    width: 250px;
}
.question-img {
    width: 300px;
    margin: 10px;
}
